@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.nav-bar {
  background: linear-gradient(to bottom, seagreen 30%, white);
}

.sidebar-nav {
  font-size: large;
  font-weight: 100;
  list-style: none;
}

.visible{
  display: block !important;
}

.dropdown1, .dropdown2, .dropdown3, .dropdown4{
  cursor: pointer;
}

a{
  color: olive;
}

h1{
  font-size: xx-large;
}

.dropdown-content1, .dropdown-content2, .dropdown-content3, .dropdown-content4{
  display: none;
}
.dropdownLinks{
  color: blue;
}
.home{
  color: aqua;
  font-size: xx-large;
}
.content{
  padding: 10px;
  background-color: white;
  height: 100vh;
}

.artist-list {
  list-style-type: none;
}

.artist-item, .list-item {
  margin-bottom: 1.5rem;
  background-color: beige; /* Light gray background color */
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  transition: transform 0.3s ease; /* Smooth transition on hover */
  max-width: 400px;
}

.artist-item:hover {
  transform: translateY(-3px); /* Lift up slightly on hover */
}

.artist-name {
  font-size: 1.2rem;
  color: #111827; /* Dark text color */
  text-decoration: none;
}

.artist-dates {
  font-size: 0.9rem;
  color: #6B7280; /* Gray color for date range */
}

/* style.css */

.artist-lifespan {
  font-style: italic;
  color: #6B7280; /* Gray color */
  margin-bottom: 1rem;
}

.heading-text {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  background-color: beige; /* Light gray background color */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  transition: transform 0.3s ease; /* Smooth transition on hover */
  max-width: 400px;
}

.art-piece-description {
  margin-bottom: 0.5rem;
}

.update-button{
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: #4CAF50; /* Green color */
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.delete-button{
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: red; /* Green color */
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .update-button,
  .delete-button {
    padding: 0.3rem 0.8rem; /* Decreased padding for smaller screens */
    font-size: small; /* Set font size to small for smaller screens */
  }
}

.update-button:hover {
  background-color: #45a049; /* Darker green color on hover */
}
.delete-button:hover {
  background-color: crimson; /* Darker green color on hover */
}

.animation {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blueviolet;
  animation: pulse 0.5s ease-out;
  pointer-events: none;
}
@keyframes pulse {
  0% {
      transform: scale(0);
      opacity: 0.7;
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}